<ol class="list-group list-group-numbered m-5">
  <li class="list-group-item d-flex justify-content-between align-items-start"
    [ngClass]="{'list-group-item-warning': MonstruoEnviado.isOrda(), 'list-group-item-primary':MonstruoEnviado.isAlianza()}">
    <div class="ms-2 me-auto">
      <div class="fw-bold bold">{{MonstruoEnviado.nombre}}</div>
      Vida : {{MonstruoEnviado.vida}} <br>
      Raza : {{MonstruoEnviado.raza}}
    </div>
    <span class="badge bg-primary rounded-pill">{{MonstruoEnviado.ataque}}</span>
  </li>
</ol>
